.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em;
  }

  .conocenos{
    background-color: #ffb26b;
    border-color: solid;
    flex-direction: column;
    margin-top: 2em;
    /*
    height: var(--bs-card-height);
    */
    height: 30em;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: start;
  
  }

  .imagen {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  height: 19em;
  width: 100%;
  object-fit: cover;
  
}

.card-title{
  margin-top: 1em;
}


.textotarjeta{
  margin-left: 0.8em;
}
