.divTarjetas{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px; 
}

header .textonormal{
  font-size: 2em;
  font-weight: bold;
  align-items: block;
}

.sticky{
  position: fixed;
  bottom: 0;
  left: 1em;
  width: 1291px;
  background-color: white;
  padding-bottom: 20px;
}

.card {
  position: relative;
  display: inline-flex;
  align-items: flex-start;
  margin-top: 2em;
  flex-direction: column;
  margin-right: 2em;
}

.card-img, .card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 20em;
  width: 22em;
  
}

.linea{
  border-top: 3px solid #ffb26b;
  padding-bottom: 5px;
  
}

.card-title{
  font-weight: bold;
  font-size: 1.2em;
}

a{
  text-decoration: none;
  color: inherit;
}
