@media screen and (max-width: 1108px){
    div > div{
      font-size: large;
      margin-right: 1em;
      align-items: center;
    }

    .divTarjetas{
      justify-content: space-around !important;
    }

    .card-img-top{
      height: 22em !important;
      width: 25em !important; 
    }

    .card{
      margin-right: 5em !important;
    }
}


.divTarjetas{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px; 
  margin-left: 0.9em;
  width: 97.6%;
}

header .textonormal{
  font-size: 2em;
  font-weight: bold;

}

.sticky{
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: center;
  width: 99%;
  margin: 1em;
  padding-top: 0.5em;
  bottom: 0;
  background-color: white;

}

.card {
  position: relative;
  display: inline-flex;
  align-items: flex-start;
  margin-top: 2em;
  flex-direction: column;
  margin-right: 2em;
}

.card-img, .card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 20em;
  width: 22em;
  object-fit: cover;
}

.linea{
  border-top: 3px solid #ffb26b;
  padding-bottom: 5px;
  
}

div .card-body{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: left;
  width: 100%;
}

.card-title{
  font-weight: bold;
  font-size: 1.2em;
}

.card-text{
  margin-top: -1.2em;
}

table {
  border-collapse: collapse;
  
}

table, th, td {
  border: 1px solid black;
}

td[data-content="Sí"]::before {
  content: "✔";
}

td[data-content="No"]::before {
  content: "✘";
}

a{
  text-decoration: none;
  color: inherit;
}

ul{
  margin-top: -6px;
}

header{
  width: 97.4%;
}